<h1><%= @word.title %></h1>
<p><%= @word.translation %> </p>
<%= link_to "Редактировать", edit_word_path(@word) %>
<%= link_to "Удалить", word_path(@word), method: :delete, data: { confirm: "Вы уверены?" } %>
